@import "./header.scss";

@media (min-width: 768px) {
    .app-content, .app-footer, .navbar-main {
        margin-left: 200px;
    }

    .aside-wrap {
        position: fixed;
        width: 199px;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 1000;
    }

    .aside-wrap .nav-wrap {
        position: relative;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .navbar-header {
        width: 200px;
        position: fixed;
    }
}

.app-content-body {
    float: left;
    width: 100%;
    padding-bottom: 50px;
    margin-top: 20px;
}

.h-box {
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed;
    border-spacing: 0;
}

.h-box .col {
    display: table-cell;
    float: none;
    height: 100%;
}

.wrapper-lg {
    padding: 30px;
}

.wrapper-md {
    padding: 20px;
}

.wrapper-sm {
    padding: 10px;
}

.w-md {
    width: 240px;
}

.w-lg {
    width: 360px;
}

.item {
    position: relative;
}

.pos-rlt {
    position: relative;
}

.r-2x {
    border-radius: 2px;
}

.bg-black {
    background-color: #1c2b36;
    color: #7793a7;
}

.bg-dark-black {
    background-color: #333333;
}

.bg-white {
    background-color: #ffffff;
}

.bg-light {
    background-color: #edf1f2 !important;
    color: #58666e;
}

.txt-lt {
    color: #c4d0d9 !important;
}

#player {
    position: absolute;
    left: -10000px;
    height: 0px !important;
    width: 0px !important;
}

.player-controls {
    width: 100%;
    display: table;
    zoom: 1;
    opacity: 0.5;
}

.player-attribute {
    width: 50px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    display: table-cell;
    border: none;
}

.navbar-brand {
    display: inline-block;
    float: none;
    height: auto;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
}

.navbar-top {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    visibility: visible !important;
    position: fixed;
    z-index: 10000;
    width: 100%;
}

.navbar-form > .form-group {
    margin-bottom: 0px;
    display: inline-block;
}

.no-padder {
    padding: 0px;
}

.padder-v-m {
    padding-left: 15px;
    padding-right: 15px;
}

.padder-v-sm {
    padding-left: 10px;
    padding-right: 10px;
}

.padder-h-sm {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padder-v-xs {
    padding-left: 5px;
    padding-right: 5px;
}

.m-t-xs {
    margin-top: 8px;
}

.m-t-sm {
    margin-top: 10px;
}

.m-t-n {
    margin-top: -15px;
}

.m-b-sm {
    margin-bottom: 10px;
}

.m-l-sm {
    margin-left: 10px;
}

.m-r-sm {
    margin-right: 10px;
}

.m-r {
    margin-right: 15px;
}

.no-border {
    border: 0px;
}

.input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.input-group-btn > button {
    margin-left: -1px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.hidden {
    display: none !important;
}

#search-bar {
    height: 37px;
}

.disabled {
    pointer-events: none;
}

.bg-black-opacity {
    background-color: rgba(32, 43, 54, 0.5);
}

.item-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.item:hover .item-overlay {
    display: block !important;
    max-width: 100px;
}

.item .center {
    position: absolute;
    top: 50%;
}

.w-full {
    width: 100%;
}

.progress-bar {
    height: 7px;
    width: 0%;
}

.progress-bar-container:hover {
    cursor: pointer;
}

.thumb-sm {
    display: inline-block;
    width: 30px;
}

.thumb-sm img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.clear {
    display: block;
    overflow: hidden;
}

.list-group-item {
    background-color: transparent;
}

.queue-list:hover {
    cursor: pointer;
}

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.track-data {
    vertical-align: middle;
    text-align: center;
    display: inline-block;
}

.inline-block {
    display: inline-block;
}

.title {
    font-size: 12px;
    display: inline-block;
    margin-top: 12px;
}

.text-ellipsis {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.playlist-play-btn, .playlist-pause-btn {
    width: 20px;
}

button.bg-light:hover {
    background-color: inherit !important;
}

a:hover {
    cursor: pointer;
}